.slider {
  margin: auto;
  width: 90%;
}

.slick-slide > div > div > img {
    width: 260px;
    height: 150px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.slick-prev::before {
    color: rgb(148, 141, 141);
    font-size: 50px;
    margin-left: -40px;
}

  .slick-next::before {
    font-size: 50px;
    color: rgb(148, 141, 141);
    justify-content: flex-end;
}

@media only screen and (max-width: 1300px ) {
    .slick-slide > div > div > img {
        width: 200px;
        height: 100px;
    }
    .slick-next::before, .slick-prev::before{
        font-size: 40px;
    }
}

@media only screen and (max-width: 768px ) {
    .slick-slide > div > div > img {
        width: 170px;
        height: 70px;
    }
    .slick-next::before, .slick-prev::before{
        font-size: 30px;
    }
}

