.slick-prev::before{
    /* background-color: red; */
    width: 100px;
    height: 100px;
    color: rgb(179, 173, 173);
    font-size: 50px;
    margin-left: -200%;
    z-index: 2;
}
.slick-next::before{
    /* background-color: blue; */
    width: 100px;
    height: 100px;
    margin-left: 4100%;
    font-size: 50px;
    /* display: none; */
    color: rgb(179, 173, 173);
    justify-content: flex-end;
}

.main1{
    border: 1px solid red;
    width: 300%;
    height: 200px;
}
.slick-slider{
    width: 300%;
    height: 170px;
}
.slick-list{
    width: 390%;
}
.slick-slide{
    width: 275px;
}
.slick-slide>div{
    margin-right: 25px;
}
.slick-slide>div>div>img{
    /* border: 2px solid red; */
    width: 260px;
    height: 150px;
    border-radius: 10px;
}
.slick-slide>div>div>img:hover{
    cursor: pointer;
    width: 265px;
    height: 155px;
}
.slick-slide>div>div:hover{
    height: 155px;
}
.slick-dots{
    /* display: ; */
    /* margin:20px 0px 10px 400px;
    padding-top: 20px; */
    /* border: 1px solid red; */
    position: absolute;
    left: 140%;
    bottom: -50px;
}
