.summaryBox{
    width: 75%;
    height: 70px;
    margin: auto;
    border: 1px solid lightgrey;
    display: flex;
    border-left: none;
    justify-content: space-between;
    border-right: none;border-top: none;
}
.leftandRightBox{
    width: 75%;
    /* height: 700px; */
    display: flex;
    margin: auto;
    /* border: 1px solid lightgrey; */
    /* flex-wrap: wrap; */
    gap: 40px;
}
.eachSideBox{
    width: 55%;
    height: 650px;
}
.leftPriceBox{
    border: 8px solid rgb(244, 243, 243);
    border-left:none;
    border-top:none;
    border-right:none;
    padding: 1%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.priceDetails{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 20px 10px 20px;
}



@media screen and (min-width: 100px) and (max-width: 767px){
    .leftandRightBox{
        width: 98%;

        display: block;
    }

    .eachSideBox{

        width: 95%;
        margin-bottom: -200px;
    }

    .Image{
        display: none;
    }

    .albal{
        margin-top: -1000px;
        border: 1px solid;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px){
    .leftandRightBox{
        width: 98%;
        display: block;
    }

    .eachSideBox{
        display: block;
        width: 95%;
        margin-bottom: -200px;
        /* height: 650px; */
    }

    .Image{
        display: none;
    }

    .albal{
        margin-top: -1000px;
        
    }
}